.pricing-card{
    padding: 32px 40px;
    border-radius: 12px;
}
.pricing-card ul{
    padding-bottom: 32px;
    list-style: none;
}
.pricing-card ul li{
    position: relative;
    padding: 8px 0;
}
.pricing-card ul li::before{
    content: url(../assets/images/Pointer.svg);
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translateY(-50%);
}