:root{
    /* colors */
    ---primary:#1C1E53;
    ---secondary:#2405F2;
    ---btn-primary:#fcd980;
    ---yellow-light: rgba(252, 217, 128, 0.1);

    ---btn-secondary:#282938;
    ---light:#EEF4FA;
    ---very-light:#F4F6FC;
    ---hover-opacity:0.5;
    ---text-light--:rgba(244, 246, 252, 0.2);

    /* typographgy */
    ---text-light:400;
    ---text-regular:500;
    ---text-bold:600;
    
}